- provide(:title, "About")

%h1 About Open Todo API
%p
  Todo lists should be simple, while remaining flexible to use. It's one thing to have a physically limited stack of papers in your pocket. It's quite another to have a list that works easily on your Android, and your spouse's iPad, and your Windows computer (and any command line, worldwide).
%p
  Apps like Todo.txt go a long way towards solving this problem by creating a simple API that any programmer can easily navigate and extend. Like Todo.txt, this app will be easy to control from the command line.
%p
  The API will allow you to change the same data from the command line or the browser. This API can support other platforms and allow programmers to build on it in new and exciting ways.